* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #3a3f46;
}

/* BACKGROUND CENTERING */

.outer-bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

/* MAIN CONTAINER */

.container {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  background: linear-gradient(to right, #1f252c 50%, #242b33 50%);
  border-radius: 25px;
  box-shadow: 0 60px 120px rgba(0,0,0,0.7);
  padding: 60px 90px;
  position: relative;
  overflow: hidden;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f2e6d5;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 14px;
}

.logo span {
  color: #ff6b2c;
}

.menu {
  width: 32px;          /* largura total do botão */
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu span {
  display: block;
  height: 2px;
  width: 100%;
  background: #f1e6d6;
  transition: 0.3s ease;
}

/* CONTENT */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
}



/* LEFT */

.left {
  color: #f2e6d5;
  display: flex;
  flex-direction: column;
}

.left h1 {
  font-size: 58px;
  font-weight: 500;
  line-height: 1.05;
  margin-bottom: 60px;
}

.box {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  max-width: 420px;
}

.box h3 {
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 18px;
}

.box p {
  font-size: 13px;
  color: #aaa;
  line-height: 1.6;
}

/* EXPLORE */

.explore {
  position: absolute;
  bottom: 40px;
  left: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.bar {
  width: 90px;
  height: 8px;
  background: #ff6b2c;
}

.explore span {
  font-size: 12px;
  letter-spacing: 2px;
  color: #f2e6d5;
}

/* RIGHT */

.right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}




.box {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  width: 420px;      /* mesma largura */
  min-height: 180px; /* mesma altura */
}

.arrow {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: #ff6b2c;
  cursor: pointer;
}

.credit {
  position: absolute;
  right: 90px;
  bottom: 40px;
  font-size: 11px;
  letter-spacing: 2px;
  color: rgba(255,255,255,0.5);
}

/* RESPONSIVE */

@media(max-width: 1100px) {
  .left h1 {
    font-size: 60px;
  }
}

@media(max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .right-box {
    position: relative;
    margin-top: 50px;
  }

  .arrow {
    display: none;
  }
}